{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculator</title>
  <link rel="stylesheet" href="{% static "css/calc.css" %}">
</head>
<body>

  <center><h1>Calculator</h1></center>
  <div>

    <div></div>
    <div>
      <form method="POST">
        {% csrf_token %}
        <div>
          <label class="center">Number 1</label>
          <input type="number" name="num1" class="center"><br>
        </div>
        <div>
          <label class="center">Number 2</label>
          <input type="number" name="num2" class="center"><br>
        </div>

        <br>
        <button type="submit" name="add" class="center">Add</button><br>
        <button type="submit" name="sub" class="center">Subtract</button><br>
        <button type="submit" name="div" class="center">Divide</button><br>
        <button type="submit" name="mul" class="center">Multiply</button><br>
        <button type="submit" name="exp" class="center">Exponentiate</button>

      <br></form>
    </div>
    <div></div>
    <div>
      <h3 class="center">Result</h3>
      <h4 class="center">{{result}}</h4>
    </div>
  </div>

</body>
</html>
